.services {
  /* border: 2px solid white; */
  background-image: url(images/blackbg.img.jpg);
  background-position: center;
  background-size: cover;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.content {
  /* border: 2px solid blue; */
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px) brightness(0.95); /* for Safari */
  border-radius: 10px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.08);
  border: 1px solid white;
}



.content:hover {
  background-color: rgba(244, 229, 229, 0.24);
}

.content-image {
  /* border: 2px solid; */
  padding-bottom: 1rem;
  background-color: rgb(41, 34, 34);
  padding-left: 0.7rem;
  padding-top: 1rem;
  padding-right: 0.7rem;
  border-radius: 10px;
}

.pot{
  background-color: rgba(0, 0, 128, 0.605);
}

.stove{
  background-color: #14532d;
}

.content-image img {
  border: 5px solid;
  width: 100%;
  height: 40vh;
  border-radius: 15px;
}

.content-image img:hover{
  transform: scale(1.1);
  transition: 2s ease-in-out;
}

.content-list {
  margin-top: 1rem;
}

.content-list ul {
  flex-direction: row;
  display: flex;
  gap: 1rem;
  text-transform: capitalize;
  justify-content: center;
  font-weight: 600;
  color: white;
  font-family: "Antic Didone", serif;
}

.content-text {
  /* border: 2px solid; */
  text-align: center;
  font-family: "Aladin", handwriting;
  text-transform: capitalize;
  font-size: 30px;
  color: white;
}
.content-button {
  /* border: 2px solid; */
  text-align: center;
  margin-top: -1rem;
}

.content-button button {
  padding: 0.5rem;
  width: 30%;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  font-family: "Aladin", handwriting;
}
